.hz-search-input {
  display: flex;
  height: 46px;
  padding: 4px;
  background-color: transparent;

  .input-wrapper {
    position: relative;
    background-color: #18181a;
    border-radius: 36px;
    .search-input {
      border-radius: 36px;
      background-color: #18181a;
      color: white;
      border: 1px #18181a solid;
      padding-left: 12px;
      padding-bottom: 8px;
      transition: all 0.5s;
      width: 100%;

      &:focus {
        border: 1px solid map-get($map: $colors, $key: primary);
      }
    }

    .icon-search {
      position: absolute;
      right: 15px;
      top: 4px;
      font-size: 2.5rem;
      color: map-get($map: $colors, $key: primary);
    }
  }
}
