.matcher-filter-container {
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  color: map-get($map: $gridColors, $key: grey);

  .first {
    display: none;
  }

  label {
    margin-right: 2px;
  }

  &.expand {
    justify-content: flex-start;
    .first {
      display: block;
    }

    label {
      margin-right: 10px;
    }

    ion-checkbox {
      margin-right: 10px;
    }
  }

  ion-checkbox {
    margin-left: 3px;
  }
}
