.matcher-filter-container {
  height: 82px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  label {
    color: #999999;
    margin-right: 2px;

    &.first {
      color: #666666;
    }
  }

  &.expand {
    label {
      margin-right: 10px;
    }

    ion-checkbox {
      margin-right: 10px;
    }
  }

  ion-checkbox {
    margin-left: 3px;
  }

}
