<div class="recommend-detail-container">
  <div class="left-area">
    <div class="card-container">
      <div class="card-info" *ngIf="detail.status === 3; else notAllow;">
        <img *ngIf="detail.cardImg; else noCardImg;" src="./assets/images/card.jpg" alt="">
        <ng-template #noCardImg>
          <p class="no-cardimg">还没上传名片</p>
        </ng-template>
      </div>
      <ng-template #notAllow>
        <div class="card-info">
          <div class="title">名片信息</div>
          <div class="desc">约请同意后可显示具体名片</div>
        </div>
      </ng-template>
    </div>

    <div class="customer-container">
      <hz-customer-abstract [detail]="detail" (invite)="ensureInvite()" (cancelMatcher)="ensureCancelMatcher($event)" (agreeMatcher)="ensureAgreeMatcher($event)"
        (refuseMatcher)="ensureRefuseMatcher($event)"></hz-customer-abstract>
      <div class="customer-detail">
        <div class="headers">
          <div class="header-item logger" [class.active]="activeHeaderIndex === 0" (click)="activeHeader(0)">日志</div>
          <div class="header-item portray" [class.active]="activeHeaderIndex === 1" (click)="activeHeader(1)">用户画像</div>
        </div>

        <div class="content">
          <hz-logger-list *ngIf="activeHeaderIndex === 0" theme="normal" [logs]="logs" (createLog)="ensureCreateLog()"></hz-logger-list>
          <hz-customer-portray *ngIf="activeHeaderIndex === 1" [portray]="portray"></hz-customer-portray>
        </div>
      </div>
    </div>
  </div>

  <div class="right-area" *ngIf="expand">
    <div class="headers">
      <div class="header-item logger" [class.active]="activeDetailHeaderIndex === 0" (click)="activeDetailHeader(0)">日志</div>
      <div class="header-item portray" [class.active]="activeDetailHeaderIndex === 1" (click)="activeDetailHeader(1)">用户画像</div>
    </div>

    <div class="content">
      <hz-logger-list *ngIf="activeDetailHeaderIndex === 0" theme="primary" [logs]="logs" (createLog)="ensureCreateLog()"></hz-logger-list>
      <hz-customer-portray *ngIf="activeDetailHeaderIndex === 1" [portray]="portray"></hz-customer-portray>
    </div>
  </div>
</div>
