.hz-logger-item-add {
  position: relative;
  min-height: 57px;
  padding-bottom: 20px;
  padding-left: 35px;

  .text {
    position: absolute;
  }



  &.normal {
    color: map-get($map: $normalLogger, $key: primary);
  }
  &.primary {
    color: map-get($map: $primaryLogger, $key: primary);
  }

  &:before {
    position: absolute;
    top: 2px;
    left: 0;
    box-sizing: content-box;
    width: 13px;
    height: 13px;
    content: '';
    border-radius: 50%;
  }

  &.normal:before {
    background: map-get($map: $normalLogger, $key: primary);
    border: 3px solid map-get($map: $normalLogger, $key: addBorderColor);
  }

  &.primary:before {
    background: map-get($map: $primaryLogger, $key: primary);
    border: 3px solid map-get($map: $primaryLogger, $key: addBorderColor);
  }

  &.has-log:after {
    position: absolute;
    top: 7px;
    left: 9px;
    width: 1px;
    height: 100%;
    content: '';
  }

  &.normal:after {
    background: map-get($map: $normalLogger, $key: primary);
  }

  &.primary:after {
    background: map-get($map: $primaryLogger, $key: primary);
  }

  .iconfont {
    position: absolute;
    left: 70px;
    font-size: 20px;
    margin-left: 7px;
  }
}
