.exhibitor-grid-container {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100vh - 280px);
  overflow: auto;

  .exhibitor-item {
    position: relative;
    flex: 1;
    min-width: 300px;
    // max-width: 300px;
    display: flex;
    height: 100px;
    background-color: #252429;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #252429;

    &.expand:nth-child(2n) {
      margin-left: 10px;
    }

    &.active {
      border: 1px solid map-get($map: $colors, $key: primary);
    }

    .logo {
      flex: 1;
      @include flexboxCenter;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .desc {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 15px;

      .header {
        color: #9e9e9e;
        font-size: 1.5rem;
      }

      .center {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .area {
          color: map-get($map: $colors, $key: grey);
        }
        .matcher-dest {
          color: #9e9e9e;
          width: 20px;
          height: 20px;
          color: #fff;
          width: 25px;
          .send-dir {
            @include flexboxCenter;
            border-radius: 50%;
            padding: 3px;
          }
          .is-sender {
            background-color: map-get($map: $gridColors, $key: sender);
          }
          .is-receiver {
            background-color: map-get($map: $gridColors, $key: receiver);
          }
        }
      }

      .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .industry {
          padding: 2px 5px;
          color: map-get($map: $colors, $key: primary);
          border: 1px solid map-get($map: $colors, $key: primary);
        }

        .right-area {
          flex: 1;
          display: flex;
          justify-content: flex-end;

          .heat {
            color: #9e9e9e;
            .iconfont {
              font-size: 0.8rem;
            }
          }

          .matcher-status {
            color: map-get($map: $gridColors, $key: grey);
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .send-dir {
              display: flex;
              align-items: center;
            }

            button {
              width: 50px;
              height: 30px;
              background-color: transparent;
              padding: 3px 5px;
              &.agree-btn {
                color: map-get($map: $colors, $key: primary);
                border: 1px solid map-get($map: $colors, $key: primary);
              }
              &.refuse-btn {
                color: map-get($map: $colors, $key: danger);
                border: 1px solid map-get($map: $colors, $key: danger);
              }
              &.cancel-btn {
                margin-left: 5px;
                background-color: map-get($map: $colors, $key: primary);
              }
            }

            .matcher-status-0,
            .matcher-status-2 {
              color: map-get($map: $gridColors, $key: grey);
            }
            .matcher-status-1,
            .matcher-status-4 {
              color: map-get($map: $gridColors, $key: danger);
            }
            .matcher-status-3 {
              color: map-get($map: $gridColors, $key: secondary);
            }
          }
        }
      }
    }

    .active-icon {
      position: absolute;
      top: 80px;
      right: 10px;
      .iconfont {
        color: map-get($map: $colors, $key: primary);
      }
    }
  }
}
