<div class="exhibitor-grid-container" #gridContainer infiniteScroll [infiniteScrollContainer]="'.exhibitor-grid-container'"
  [fromRoot]="true" (scrolled)="onScroll()" *ngIf="dataItems.length > 0; else noData;">
  <div class="exhibitor-item" [class.expand]="expand" *ngFor="let item of dataItems">
    <exhibitor-item [exhibitor]="item" (showDetail)="ensureShow($event)"></exhibitor-item>
  </div>

  <p *ngIf="showLoadMore; else noMoreData;" class="hz-load-more" tappable (click)="ensureLoadMore()">加载更多</p>
  <ng-template #noMoreData>
    <p class="not-more-data">没有更多数据了</p>
  </ng-template>
</div>
<ng-template #noData>
  <p class="no-data">
    没有{{ type === 'matcher' ? '约请' : '展商' }}数据
  </p>
</ng-template>
