.exhibitor-item-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  padding: 5px 10px 3px 10px;
  height: 120px;
  margin: 4px;
  border: 2px solid #a0a0a5;
  border-radius: 2px;

  &.active {
    border-color: map-get($map: $colors, $key: primary);
  }

  .no-item {
    color: map-get($map: $colors, $key: danger);
  }

  .logo {
    flex: 1;
    @include flexboxCenter;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }

  .desc {
    height: 75%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;

    .header {
      color: #9e9e9e;
      font-size: 1.5rem;
      @include textOverflow(200px);
    }

    .center {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .area {
        color: map-get($map: $colors, $key: grey);
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .industry {
        padding: 2px 5px;
        color: map-get($map: $colors, $key: primary);
      }

      .right-area {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        .heat {
          color: #9e9e9e;
          .iconfont {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .active-icon {
    position: absolute;
    top: 80px;
    right: 10px;
    .iconfont {
      color: map-get($map: $colors, $key: primary);
    }
  }
}
