.hz-selector {
  position: relative;
  color: #666666;
  text-align: center;
  height: 100%;
  padding-top: 10px;

  &:not(:last-child) {
    border-right: 1px solid #27272A;
  }

  i {
    margin-left: 10px;
  }
}

