page-exhibitors {
  ion-content {
    background: url(../assets/images/bg-huizhanren-pure.png) no-repeat;
    // background-color: #282c34 !important;
    background-size: cover;
    color: #aaaaaa;

    .exhibitors-container {
      display: flex;
      position: relative;

      .list-area {
        background-color: #1f2022;
        transition: width 1s;
        flex: 1;

        &.expand {
          flex: 2;
        }

        .load-more {
          color: #67686c;
          text-align: center;
        }
      }

      .detail-area {
        margin-left: 10px;
        flex: 1;
        &.expand {
          flex: 2;
        }
      }
    }
  }
}
