.visitor-detail-container {
  display: flex;
  background-color: #fff;

  .left-area {
    flex: 1;
    height: calc(100vh - 90px);
    overflow: auto;
    .card-container {
      background-color: #6287d5;
      height: 200px;
      padding: 10px 20px;

      .card-info {
        @include flexboxCenter;
        height: 100%;
        background-color: #efeef4;
        color: map-get($map: $colors, $key: primary);
        flex-direction: column;
        .title {
          font-size: 2rem;
        }
        .desc {
          margin-top: 10px;
        }
        .no-cardimg,
        .tel {
          font-size: 2rem;
        }
      }
    }

    .customer-container {
      background-color: #dadae2;

      .customer-detail {
        padding: 10px 20px;
        margin-top: 10px;
        background-color: #fff;
        .hz-card-detail-field-item {
          display: flex;
          align-items: center;

          &:not(:first-child) {
            margin-top: 8px;
          }

          ion-icon {
            width: 30px;
            font-size: 20px;
          }
          .hz-content {
            margin-left: 10px;
            a {
              text-decoration: none;
              color: #333;
            }

            .hz-card-field-value,
            .hz-card-field-label {
              margin: 2px 0;
            }

            .hz-card-field-label {
              color: #aeaeae;
              font-size: 12px;
            }
          }

          .icon-wrapper {
            margin-left: 20px;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
              font-size: 20px;
            }
          }
        }
      }

      .customer-extra {
        background-color: #fff;
        margin-top: 10px;
        padding: 30px 10px;
        .headers {
          display: flex;
          justify-content: space-around;
          padding: 0 50px;

          .header-item {
            font-size: 1.8rem;
            color: map-get($map: $colors, $key: grey);
            &.active {
              color: map-get($map: $colors, $key: primary);
              border-bottom: 2px solid map-get($map: $colors, $key: primary);
            }
          }
        }

        .content {
          margin-top: 20px;
        }
      }
    }
  }
}
