<div class="customer-abstract-container">
  <div class="matcher-dest">
    <span [ngClass]="{'is-sender': detail.isInitator, 'is-receiver': detail.isReceiver, 'send-dir': true}">
      {{detail.isInitator ? '发' : '收'}}
    </span>
  </div>

  <div class="customer-header">
    <div class="customer-title">
      <span class="customer-name">{{detail.toShow.name}}</span>
      <span class="customer-title" *ngIf="detail.toShow.title; else noTitle;">( {{detail.toShow.title}} )</span>
      <ng-template #noTitle>
        <span class="no-title no-item"></span>
      </ng-template>
    </div>

    <div class="customer-rate">
      <hz-rate></hz-rate>
    </div>
  </div>

  <div class="customer-company" *ngIf="detail.toShow.company">
    {{detail.toShow.company}}
  </div>

  <div class="customer-industry">
    <span class="industry" *ngIf="detail.toShow.industry; else noIndustry;">{{detail.toShow.industry}}</span>
    <ng-template #noIndustry>
      <span class="no-industry no-item"></span>
    </ng-template>
    <span class="area" *ngIf="detail.toShow.area; else noArea;">{{detail.toShow.area}}</span>
    <ng-template #noArea>
      <span class="no-area no-item"></span>
    </ng-template>
  </div>

  <div class="customer-status">
    <hz-customer-status></hz-customer-status>

    <div class="meeting-place">
      {{'会面地点: ' + detail.meetingPlace}}
    </div>
  </div>
</div>
