.customer-abstract-container {
  position: relative;
  height: 200px;
  margin-bottom: 5px;
  padding: 20px;
  background-color: #fff;
  color: map-get($map: $colors, $key: grey);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .no-item {
    color: map-get($map: $colors, $key: danger);
  }

  .matcher-dest {
    position: absolute;
    top: -12px;
    right: 3px;
    color: #9e9e9e;
    height: 25px;
    color: #fff;
    width: 25px;
    .send-dir {
      @include flexboxCenter;
      border-radius: 50%;
      padding: 3px;
    }
    .is-sender {
      background-color: map-get($map: $gridColors, $key: sender);
    }
    .is-receiver {
      background-color: map-get($map: $gridColors, $key: receiver);
    }
  }

  .customer-header {
    display: flex;
    justify-content: space-between;
    .customer-name {
      color: map-get($map: $colors, $key: dark);
      font-size: 1.8rem;
      font-weight: bold;
    }

    .customer-rate {
      width: 30%;
      hz-rate {
        width: 100%;
      }
    }
  }

  .customer-company {
    margin-top: 10px;
  }

  .customer-industry {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .industry {
      border: 1px solid map-get($map: $colors, $key: primary);
      color: map-get($map: $colors, $key: primary);
      padding: 1px 3px;
    }
  }

  .customer-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    hz-customer-status {
      width: 25%;
    }

    .meeting-place {
      color: map-get($map: $gridColors, $key: secondary);
    }
  }
}
