<div class="hz-modal invite-exhibitor-modal">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        约 TA
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="modal-body">
      <div class="field-item contact">
        <label for="">联系人:</label>
        <span>{{destName}}</span>
      </div>

      <div class="field-item address" radio-group [formControl]="addressCtrl">
        <label class="address-label" for="">预约地点:</label>
        <span>
          <ion-list>
            <ion-item class="radio-item">
              <ion-radio [value]="srcAddress"></ion-radio>
              <ion-label>{{srcAddress}}</ion-label>
            </ion-item>

            <ion-item *ngIf="destAddress" class="radio-item">
              <ion-radio [value]="destAddress"></ion-radio>
              <ion-label>{{destAddress}}</ion-label>
            </ion-item>
          </ion-list>
        </span>
      </div>

      <div class="field-item content">
        <label for="">通知内容:</label>
        <textarea rows="3">{{content}}</textarea>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="hz-btn" (click)="cancel()">取消</button>
      <button type="button" class="hz-btn" (click)="complete()">确定</button>
    </div>
  </ion-content>
</div>
