.invite-exhibitor-modal {
  height: 410px;

  .modal-body {
    padding: 20px 34px;

    .field-item {
      display: flex;
      margin-top: 15px;
      font-size: 1.5rem;

      label {
        flex: 1;
        color: map-get($map: $colors, $key: grey);
      }

      span {
        flex: 4;
        color: #333333;
      }
    }

    label[for='first'] {
      margin-right: 30px;
    }

    .content {
      span {
        line-height: 2.2rem;
        border: 1px solid #e6e6e6;
        padding: 5px 10px 15px 10px;
      }
    }
  }
}
