.exhibitor-matcher-grid-container {
  max-height: calc(100vh - 190px);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;

  .exhibitor-matcher-item {
    display: inline-block;
    width: 33%;

    &.expand {
      width: 50%;
    }
  }

  .no-data {
    @include flexboxCenter;
    height: 50px;
    color: map-get($map: $gridColors, $key: grey);
  }

  .no-more-data {
    width: 100%;
    color: #67686c;
    text-align: center;
  }

  .hz-load-more {
    color: #67686c;
    text-align: center;
  }
}
