<div class="exhibitor-matcher-grid-container" #gridContainer infiniteScroll [infiniteScrollContainer]="'.exhibitor-matcher-grid-container'"
  [fromRoot]="true" (scrolled)="onScroll()" *ngIf="dataItems.length > 0; else noData;">
  <div class="exhibitor-matcher-item" [class.expand]="expand" *ngFor="let item of dataItems">
    <exhibitor-matcher-item [matcher]="item" [exhibitor]="item.toShow" (showDetail)="ensureShow($event)" (agreeMatcher)="ensureAgree($event)"
      (refuseMatcher)="ensureRefuse($event)"></exhibitor-matcher-item>
  </div>

  <p *ngIf="showLoadMore; else noMoreData;" class="hz-load-more" tappable (click)="ensureLoadMore()">加载更多</p>
  <ng-template #noMoreData>
    <p class="no-more-data">没有更多数据了</p>
  </ng-template>
</div>
<ng-template #noData>
  <p class="no-data">
    没有展商约请数据
  </p>
</ng-template>
