<div class="customer-abstract-container">
  <div class="customer-header">
    <div class="customer-title">
      <span class="customer-name">{{detail.name}}</span>
      (
      <span class="customer-title">{{detail.title}}</span> )
    </div>

    <div class="customer-rate">
      <hz-rate></hz-rate>
    </div>
  </div>

  <div class="customer-company">
    {{detail.company || '未填写'}}
  </div>

  <div class="customer-industry">
    <span class="industry">{{detail.industry || '未填写'}}</span>
    <span class="area">{{detail.area || '未填写'}}</span>
  </div>

  <div class="customer-status">
    <hz-customer-status></hz-customer-status>

    <div class="matcher-status" *ngIf="detail.senderId; else recommend;">
      <span *ngIf="detail.isSender; else receiver;" class="send-dir">
        <span *ngIf="detail.status !== 2; else sendAuditSuccess;" [ngClass]="['matcher-status' + detail.status]">
          {{detail.status | customerMatcherStatus}}
        </span>
        <ng-template #sendAuditSuccess>
          <span>{{detail.status | customerMatcherStatus}}</span>
          <button ion-button class="cancel-btn">取消</button>
        </ng-template>
      </span>
      <ng-template #receiver>
        <span *ngIf="detail.status !== 2; else receiveAuditSuccess;" [ngClass]="['matcher-status-' + detail.status]">
          {{detail.status | customerMatcherStatus}}
        </span>
        <ng-template #receiveAuditSuccess>
          <button ion-button class="agree-btn">接受</button>
          <button ion-button class="refuse-btn">拒绝</button>
        </ng-template>
      </ng-template>
    </div>
    <ng-template #recommend>
      <div class="invite">
        <button ion-button (click)="ensureInvite()">约 TA</button>
      </div>
    </ng-template>
  </div>
</div>
