<div class="customer-abstract-container">
  <div class="customer-header">
    <div class="customer-title">
      <span class="customer-name">{{detail.name}}</span>
      <span class="customer-title">( {{detail.title}} )</span>
    </div>

    <div class="customer-rate">
      <hz-rate></hz-rate>
    </div>
  </div>

  <div class="customer-company" *ngIf="detail.company">
    {{detail.company}}
  </div>

  <div class="customer-industry">
    <span class="industry" *ngIf="detail.industry">{{detail.industry}}</span>
    <span class="area" *ngIf="detail.area">{{detail.area}}</span>
  </div>

  <div class="customer-status">
    <hz-customer-status></hz-customer-status>

    <div class="matcher-status" *ngIf="detail.senderId; else recommend;">
      <span *ngIf="detail.isSender; else receiver;" class="send-dir">
        <span *ngIf="detail.status !== 2; else sendAuditSuccess;" [ngClass]="['matcher-status-' + detail.status]">
          {{detail.status | customerMatcherStatus}}
        </span>
        <ng-template #sendAuditSuccess>
          <span>{{detail.status | customerMatcherStatus}}</span>
          <button ion-button class="cancel-btn" (click)="ensureCancelMatcher(detail.id)">取消</button>
        </ng-template>
      </span>
      <ng-template #receiver>
        <span *ngIf="detail.status !== 2; else receiveAuditSuccess;" [ngClass]="['matcher-status-' + detail.status]">
          {{detail.status | customerMatcherStatus}}
        </span>
        <ng-template #receiveAuditSuccess>
          <button ion-button class="agree-btn" (click)="ensureAgreeMatcher(detail.id)">接受</button>
          <button ion-button class="refuse-btn" (click)="ensureRefuseMatcher(detail.id)">拒绝</button>
        </ng-template>
      </ng-template>
    </div>
    <ng-template #recommend>
      <div class="invite">
        <button ion-button (click)="ensureInvite()">约 TA</button>
      </div>
    </ng-template>
  </div>

  <div class="customer-private" *ngIf="detail.status === 3">
    <div class="customer-mobile field-item" *ngIf="detail.mobile">
      <span>电话:</span>
      <span class="info">{{detail.mobile}}</span>
    </div>
    <div class="customer-email field-item" *ngIf="detail.email">
      <span>邮箱:</span>
      <span class="info">{{detail.email}}</span>
    </div>
    <div class="customer-address field-item" *ngIf="detail.visitorAddr">
      <span>地址:</span>
      <span class="info">{{detail.visitorAddr}}</span>
    </div>
  </div>
</div>
