<div class="customer-abstract-container">
  <div class="customer-header">
    <div class="customer-title">
      <span class="customer-name">王涛</span>
      (
      <span class="customer-title">总经理</span> )
    </div>

    <div class="customer-rate">
      <hz-rate></hz-rate>
    </div>
  </div>

  <div class="customer-company">
    上海联展软件科技有限公司
  </div>

  <div class="customer-industry">
    <span class="industry">互联网/大数据</span>
    <span class="area">上海</span>
  </div>

  <div class="customer-status">
    <hz-customer-status></hz-customer-status>

    <div class="invite">
      <button ion-button>约 TA</button>
    </div>
  </div>
</div>
