.content-ios:not([no-bounce]) > .scroll-content::before,
.content-ios:not([no-bounce]) > .scroll-content::after {
  width: 0;
}

.grid {
  padding: 0;
}

.slide-zoom {
  margin-top: 50%;
  transform: translateY(-50%);
}
