@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin flexboxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexboxStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin textOverflow {
  overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}