@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin flexboxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexboxStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin textOverflow {
  overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin confirmModal {
  height: 300px;
  .modal-body {
    padding: 20px 34px;
    @include flexboxCenter;
    font-size: 1.8rem !important;
    color: map-get($map: $colors, $key: grey);
  }
}
