.grid-filter-container {
  display: flex;

  .selectors {
    flex: 1;
    display: flex;
    border: 1px solid #27272A;
    margin: 16px 10px;

    hz-selector {
      flex: 1;
    }
  }

  hz-search-input {
    flex: 1;
  }
}
