<div class="grid-filter-container">
  <div class="selectors">
    <hz-selector [options]="areaOptions" [selectedValueSub]="areaSelectSub"></hz-selector>
    <hz-selector [options]="typeOptions" [selectedValueSub]="typeSelectSub"></hz-selector>
    <hz-selector [options]="sortOptions" [selectedValueSub]="sortSelectSub"></hz-selector>
  </div>
  <div class="count">已为您推荐
    <span class="number">768</span>位买家</div>

  <hz-search-input *ngIf="showSearch" [placeholder]="placeholder" [searchSub]="searchSub" [debounceTime]="300"></hz-search-input>
</div>
