.grid-filter-container {
  display: flex;
  height: 46px;

  .selectors {
    position: relative;
    flex: 2;
    display: flex;
    border: 1px solid #27272a;

    hz-selector {
      flex: 1;

      &:not(:first-child):after {
        content: '|';
        color: map-get($map: $gridColors, $key: grey);
        position: absolute;
        top: 27%;
      }
    }
  }

  .count {
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
    color: #666666;
    flex: 1;
    .number {
      margin: 2px 3px 0 3px;
      color: map-get($map: $gridColors, $key: grey);
      color: map-get($map: $colors, $key: golden);
    }
  }

  hz-search-input {
    flex: 2;
  }
}
