.grid-filter-container {
  display: flex;
  height: 42px;

  .selectors {
    position: relative;
    flex: 1;
    display: flex;
    border: 1px solid #27272A;

    hz-selector {
      flex: 1;

      &:not(:first-child):after {
        content: '|';
        color: map-get($map: $gridColors, $key: grey);
        position: absolute;
        top: 27%;
      }
    }
  }

  hz-search-input {
    flex: 1;
  }
}
