page-home {
  .card-info {
    position: relative;
    left: 33%;
    width: 65%;
    height: 100%;
    background-color: #FFF;

    .card-image {
      width: 100%;
      height: 45%;
      // background-color: #90c0e2;
      // background-image: url(./assets/images/background.png);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      .img-wrapper {
        flex: 5;
      }
      .card-abstract {
        flex: 3;

        ion-item {
          background-color: #495fce;
          color: white;

          ion-label {
            color: wheat;
            font-size: 1.6rem;
            font-weight: bold;
          }
        }
      }

      .img-wrapper {
        img {
          max-height: 85%;
          max-width: 70%;
          // transform: rotate(270deg);
          margin-left: 12%;
          // margin-right: 30%;
        }
      }

      .card-abstract {
        margin-left: -8%;
        margin-top: 2%;
      }
    }

    .card-detail {
      width: 100%;
      // background-color: #2E7760;

      .card-list-group {
        display: flex;
        margin-top: 10%;

        .list1,
        .list2 {
          flex: 1;
        }
      }
    }
  }
}
