<div class="hz-modal show-product-modal">
  <ion-content>
    <div class="modal-body">
      <div class="left-area">
        <ion-slides (ionSlideDidChange)="slideChanged()">
          <ion-slide *ngFor="let pic of pictures">
            <img [src]="pic" alt="">
          </ion-slide>
        </ion-slides>
        <div class="slide-indicator">{{indicator}}</div>
      </div>

      <div class="right-area">
        <div class="header">{{name}}</div>
        <div class="content">{{remark}}</div>
      </div>
    </div>
    <ion-icon name="add-circle" (click)="cancel()"></ion-icon>
    <!-- <div class="modal-footer">
      <button type="button" class="hz-btn" (click)="cancel()">我知道了</button>
    </div> -->
  </ion-content>
</div>
