.invite-visitor-modal {
  height: 280px;
  width: 320px;
  margin: 10% auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  .icon {
    position: absolute;
    transform: rotate(45deg) scale(1.6);
    right: -2px;
    top: 0;
  }

  img {
    margin-top: 10px;
    width: 220px;
    height: 220px;
  }

  p {
    text-align: center;
  }
}
