.recommend-grid-container {
  max-height: calc(100vh - 220px);
  overflow: auto;
  .header {
    color: #6288d5;
  }

  .row-item {
    color: #aaa;
    &.even {
      background-color: #27272a;
    }

    ion-col {
      display: flex;
      height: 50px;
      align-items: center;

      &:last-child {
        justify-content: space-evenly;
      }

      hz-customer-status {
        width: 70%;
      }
    }
  }
}
