.recommend-grid-container {
  max-height: calc(100vh - 270px);
  overflow: auto;
  .header {
    color: #6288d5;
  }

  .row-item {
    color: #aaa;
    &.even {
      background-color: #27272a;
    }

    &.active {
      background-color: map-get($map: $colors, $key: activeRow);
    }

    ion-col {
      display: flex;
      height: 50px;
      align-items: center;

      &:last-child {
        justify-content: space-evenly;
      }
    }

    .checkbox-col {
      @include flexboxCenter;
    }
  }

  hz-customer-status.no-expand {
    width: 100%;
  }

  hz-customer-status.expand {
    width: 70%;
  }
}
