page-customer {
  ion-content {
    background: url(../assets/images/bg-huizhanren-pure.png) no-repeat;
    background-size: cover;

    .hz-customer-container {
      display: flex;
      height: calc(100vh - 90px);
      position: relative;

      .hz-customer-left {
        flex: 1;
        position: fixed;
        width: calc(33% - 16px);

        .no-customer {
          color: white;
          text-align: center;
        }

      }
      .hz-customer-right {
        flex: 2;
        margin-left: 33%;
        width: 66%;

        .hz-customer-editable {
          display: flex;
          background-color: #fff;
          flex-direction: column;

          .hz-customer-input-area {
            display: flex;
            .hz-customer-center {
              flex: 1;
              padding: 16px 15px 16px 36px;
              .hz-card-container {
                height: 200px;
                img {
                  width: 100%;
                  max-height: 100%;
                  max-width: 100%;
                }
              }
            }

            .hz-customer-input-area-right {
              flex: 1;
              padding: 16px 36px 16px 15px;

              .hz-card-behind-container {
                height: 200px;
                border: 1px solid #e6e6e6;
                @include flexboxCenter;
                flex-direction: column;

                img {
                  width: 100%;
                  max-height: 100%;
                }

                .hz-card-box {
                  width: 70px;
                  height: 70px;
                  line-height: 70px;
                  border-radius: 50%;
                  background-color: #aaaaa9;
                  color: #fff;

                  @include flexboxCenter;

                  .hz-icon {
                    font-size: 2.5rem;
                  }
                }
              }
            }
          }

          .hz-customer-btn-wrapper {
            display: flex;
            margin-bottom: 10px;
            justify-content: space-around;
            padding: 0 150px;
            button {
              width: 80px;
              height: 36px;
            }
          }
        }

        .hz-customer-detail {
          hz-card-detail,
          hz-card-log,
          hz-card-notification {
            transition: all ease .8s;
          }

          hz-card-detail {
            float: left;
          }

          hz-card-detail.close {
            display: inline-block;
            width: 50%;
          }

          hz-card-detail.open {
            width: 100%;
          }

          hz-card-log.close,
          hz-card-notification.close {
            width: 0;
          }

          hz-card-log.open,
          hz-card-notification.open {
            display: inline-block;
            width: 50%;
          }
        }

        .hz-customer-manage-container {
          display: flex;
          background-color: white;
        }
      }
    }
  }
}
