.visitor-grid-container {
  height: calc(100vh - 170px);
  overflow: auto;
  display: block;

  .visitor-item {
    display: inline-block;
    width: 33%;
  }

  .no-data {
    @include flexboxCenter;
    height: 50px;
    color: map-get($map: $gridColors, $key: grey);
  }

  .not-more-data {
    width: 100%;
    color: #67686c;
    text-align: center;
  }

  .hz-load-more {
    color: #67686c;
    text-align: center;
  }
}
