<div *ngIf="expand; else noExpand;" class="visitor-grid-container">
  <ion-grid class="header">
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-1>姓名</ion-col>
      <ion-col col-1>职务</ion-col>
      <ion-col col-2>公司</ion-col>
      <ion-col col-2>行业</ion-col>
      <ion-col col-3 *ngIf="type === 'visitor'">地区</ion-col>

      <ion-col col-1 *ngIf="type === 'matcher'">地区</ion-col>
      <ion-col col-2 *ngIf="type === 'matcher'" class="status-header">状态</ion-col>

      <ion-col col-1></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="body" *ngIf="dataItems.length > 0; else noData;">
    <ion-row *ngFor="let item of dataItems; even as even" tappable class="row-item" [class.even]="even" [class.active]="activeId === item.id"
      (click)="ensureShow(item.id)">
      <ion-col col-1 class="checkbox-col">
        <ion-checkbox tappable [(ngModel)]="item.selected"></ion-checkbox>
        <div *ngIf="type === 'matcher'" [ngClass]="['send-dir', item.isSender ? 'sender' : 'receiver']"
        class="send-dir" [class.sender]="item.isSender">{{item.isSender ? '发' : '收'}}</div>
      </ion-col>
      <ion-col col-1 class="name">{{item.name | customerNamePrivacy:item.status}}</ion-col>
      <ion-col col-1 class="title">{{item.title}}</ion-col>
      <ion-col col-2 class="company">{{item.company | customerCompanyPrivacy:item.status}}</ion-col>
      <ion-col col-2 class="industry">{{item.industry}}</ion-col>

      <ion-col col-3 *ngIf="type === 'visitor'">{{item.area}}</ion-col>

      <ion-col col-1 *ngIf="type === 'matcher'">{{item.area}}</ion-col>
      <ion-col col-2 *ngIf="type === 'matcher'" [ngClass]="['matcher-status', 'matcher-status-' + item.status]">
        <span *ngIf="item.isSender; else receiver;">
          {{item.status | customerMatcherStatus:item.isSender}}
        </span>
        <ng-template #receiver>
          <span *ngIf="item.status !== 2; else auditSuccess;">
            {{item.status | customerMatcherStatus:item.isSender}}
          </span>
          <ng-template #auditSuccess>
            <button ion-button class="agree-btn" (click)="ensureAgreeMatcher(item.id)">接受</button>
            <button ion-button class="refuse-btn" (click)="ensureRefuseMatcher(item.id)">拒绝</button>
          </ng-template>
        </ng-template>
      </ion-col>

      <ion-col col-2>
        <hz-customer-status class="expand"></hz-customer-status>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #noData>
    <div class="no-data">
      没有数据
    </div>
  </ng-template>
</div>

<ng-template #noExpand>
  <div class="visitor-grid-container">
    <ion-grid class="header">
      <ion-row class="header">
        <ion-col col-2>姓名</ion-col>
        <ion-col col-2>职务</ion-col>
        <ion-col col-5>公司</ion-col>
        <ion-col col-3></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="body" *ngIf="dataItems.length > 0; else noData;">
      <ion-row *ngFor="let item of dataItems; even as even" tappable class="row-item" [class.even]="even" [class.active]="activeId === item.id"
        (click)="ensureShow(item.id)">
        <ion-col col-2>{{item.name | customerNamePrivacy:item.status}}</ion-col>
        <ion-col col-2>{{item.title}}</ion-col>
        <ion-col col-5 class="company">{{item.company | customerCompanyPrivacy:item.status}}</ion-col>
        <ion-col col-3>
          <hz-customer-status class="no-expand"></hz-customer-status>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-template #noData>
      <div class="no-data">
        没有数据
      </div>
    </ng-template>

  </div>
</ng-template>
