<!-- <div [hidden]="!expand" #gridExpand class="visitor-grid-container expand" [ngClass]="[type]"
 infiniteScroll [infiniteScrollContainer]="'.visitor-grid-container.expand.' + type"
  [fromRoot]="true" (scrolled)="onScroll()">
  <ion-grid class="header">
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-1>姓名</ion-col>
      <ion-col col-3>职务</ion-col>
      <ion-col col-2>行业</ion-col>
      <ion-col col-3 *ngIf="type === 'visitor'">地区</ion-col>

      <ion-col col-1 *ngIf="type === 'matcher'">地区</ion-col>
      <ion-col col-2 *ngIf="type === 'matcher'" class="status-header">状态</ion-col>

      <ion-col col-1></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="body" *ngIf="dataItems.length > 0; else noData;">
    <ion-row *ngFor="let item of dataItems; even as even" tappable class="row-item" [class.even]="even" [class.active]="activeId === item.id"
      (click)="ensureShow(item.id)">
      <ion-col col-1 class="checkbox-col">
        <ion-checkbox tappable [(ngModel)]="item.selected"></ion-checkbox>
        <div *ngIf="type === 'matcher'" [ngClass]="['send-dir', item.isSender ? 'sender' : 'receiver']" class="send-dir" [class.sender]="item.isSender">{{item.isSender ? '发' : '收'}}</div>
      </ion-col>
      <ion-col col-1 class="name">{{item.name | customerNamePrivacy:item.status}}</ion-col>
      <ion-col col-3 class="title">{{item.title}}</ion-col>
      <ion-col col-2 class="industry">{{item.industry}}</ion-col>

      <ion-col col-3 *ngIf="type === 'visitor'">{{item.area}}</ion-col>

      <ion-col col-1 *ngIf="type === 'matcher'">{{item.area}}</ion-col>
      <ion-col col-2 *ngIf="type === 'matcher'" [ngClass]="['matcher-status', 'matcher-status-' + item.status]">
        <span *ngIf="item.isSender; else receiver;">
          {{item.status | customerMatcherStatus:item.isSender}}
        </span>
        <ng-template #receiver>
          <span *ngIf="item.status !== 2; else auditSuccess;">
            {{item.status | customerMatcherStatus:item.isSender}}
          </span>
          <ng-template #auditSuccess>
            <button ion-button class="agree-btn" (click)="ensureAgreeMatcher(item.id)">接受</button>
            <button ion-button class="refuse-btn" (click)="ensureRefuseMatcher(item.id)">拒绝</button>
          </ng-template>
        </ng-template>
      </ion-col>

      <ion-col col-2>
        <hz-customer-status class="expand"></hz-customer-status>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p *ngIf="showLoadMore; else noMoreData;" class="hz-load-more expand" tappable (click)="ensureLoadMore()">加载更多</p>
  <ng-template #noMoreData>
    <p class="not-more-data">没有更多数据了</p>
  </ng-template>
</div>

<div [hidden]="expand" class="visitor-grid-container no-expand" [ngClass]="[type]" infiniteScroll [infiniteScrollContainer]="'.visitor-grid-container.no-expand.' + type"
  [fromRoot]="true" (scrolled)="onScroll()" #gridNoExpand>
  <ion-grid class="header">
    <ion-row class="header">
      <ion-col col-2>姓名</ion-col>
      <ion-col col-3>职务</ion-col>
      <ion-col col-4>行业</ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="body" *ngIf="dataItems.length > 0; else noData;">
    <ion-row *ngFor="let item of dataItems; even as even" tappable class="row-item" [class.even]="even" [class.active]="activeId === item.id"
      (click)="ensureShow(item.id)">
      <ion-col col-2>{{item.name | customerNamePrivacy:item.status}}</ion-col>
      <ion-col col-3>{{item.title}}</ion-col>
      <ion-col col-4 class="industry">{{item.industry}}</ion-col>
      <ion-col col-3>
        <hz-customer-status class="no-expand"></hz-customer-status>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p *ngIf="showLoadMore; else noMoreData;" class="hz-load-more no-expand" tappable (click)="ensureLoadMore()">加载更多</p>
  <ng-template #noMoreData>
    <p class="not-more-data">没有更多数据了</p>
  </ng-template>
</div> -->






<div class="visitor-grid-container" #gridContainer [ngClass]="[type]" infiniteScroll [infiniteScrollContainer]="'.visitor-grid-container.' + type"
  [fromRoot]="true" (scrolled)="onScroll()" *ngIf="dataItems.length > 0; else noData;">
  <div class="visitor-item" tappable [class.expand]="expand" [class.active]="item.selected" *ngFor="let item of dataItems"
    (click)="ensureShow(item)">

    <visitor-item [visitor]="item" (invite)="ensureInvite($event)"></visitor-item>
  </div>

  <p *ngIf="showLoadMore; else noMoreData;" class="hz-load-more" tappable (click)="ensureLoadMore()">加载更多</p>
  <ng-template #noMoreData>
    <p class="not-more-data">没有更多数据了</p>
  </ng-template>
</div>
<ng-template #noData>
  <p class="no-data">
    没有{{ type === 'matcher' ? '约请' : '展商' }}数据
  </p>
</ng-template>
