.exhibitor-abstract-container {
  background-color: #fff;
  color: map-get($map: $colors, $key: grey);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .no-item {
    color: map-get($map: $colors, $key: danger);
  }

  .no-product,
  .no-description,
  .no-visitor {
    height: 40px;
    @include flexboxCenter;
  }

  .exhibitor-logo {
    height: 100px;
    background-color: map-get($map: $colors, $key: primary);
    position: relative;
    .logo-wrapper {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
  }

  .exhibitor-abstract {
    margin-top: 40px;
    text-align: center;

    .exhibitor-name {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0 30px;
      color: map-get($map: $colors, $key: dark);
    }

    .exhibitor-area {
      margin-top: 10px;
      display: flex;
      padding: 0 80px;
      justify-content: space-between;
      align-items: center;

      .area {
        @include textOverflow(60px);
        color: map-get($map: $colors, $key: grey);
      }
      .industry {
        border: 1px solid map-get($map: $colors, $key: primary);
        color: map-get($map: $colors, $key: primary);
        padding: 1px 3px;
      }
    }

    .matcher-status {
      margin-top: 10px;
      .send-dir {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      button {
        width: 60px;
        height: 30px;
        background-color: transparent;
        padding: 3px 5px;
        &.agree-btn {
          color: map-get($map: $colors, $key: primary);
          border: 1px solid map-get($map: $colors, $key: primary);
        }
        &.refuse-btn {
          color: map-get($map: $colors, $key: danger);
          border: 1px solid map-get($map: $colors, $key: danger);
        }
        &.cancel-btn {
          margin-left: 15px;
          background-color: map-get($map: $colors, $key: primary);
        }
      }

      .matcher-status-0,
      .matcher-status-2 {
        color: map-get($map: $gridColors, $key: grey);
      }
      .matcher-status-1,
      .matcher-status-4 {
        color: map-get($map: $gridColors, $key: danger);
      }
      .matcher-status-3 {
        color: map-get($map: $gridColors, $key: secondary);
      }
    }

    .invite {
      margin-top: 20px;
      button {
        width: 100px;
        height: 30px;
      }
    }
  }

  .exhibitor-product {
    padding: 0 10px;
    .header {
      font-size: 1.5rem;
      text-align: left;
      font-weight: bold;
    }

    .content {
      margin-top: 20px;

      .products {
        width: 310px;
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        .product-item {
          display: inline-block;
          width: 80px;
          height: 80px;
          margin-right: 10px;

          .product-name {
            margin-top: 10px;
            @include textOverflow(100%);
          }
        }
      }
    }
  }

  .exhibitor-jianjie {
    margin-top: 20px;
    padding: 0 10px;
    .header {
      font-size: 1.5rem;
      text-align: left;
      font-weight: bold;
    }

    .content {
      margin-top: 20px;
      line-height: 22px;
      display: flex;
      flex-wrap: wrap;
      max-height: 100px;
      overflow: auto;
      color: map-get($map: $colors, $key: grey);
    }
  }

  .exhibitor-visitors {
    margin-top: 20px;
    padding: 0 10px;
    .header {
      font-size: 1.5rem;
      text-align: left;
      font-weight: bold;
    }

    .content {
      margin-top: 20px;
      max-height: 30px;

      .visitors {
        width: 310px;
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        .visitor {
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-right: 4px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
