.exhibitor-abstract-container {
  background-color: #fff;
  color: map-get($map: $colors, $key: grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #efeff4;

  .no-item {
    color: map-get($map: $colors, $key: grey);
  }

  .no-product,
  .no-description,
  .no-visitor {
    height: 40px;
    @include flexboxCenter;
  }

  .exhibitor-logo {
    height: 100px;
    background-color: map-get($map: $colors, $key: primary);
    position: relative;
    .logo-wrapper {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
  }

  .exhibitor-abstract {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;

    .exhibitor-name {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0 30px;
      color: map-get($map: $colors, $key: dark);
    }

    .exhibitor-area {
      margin-top: 10px;
      display: flex;
      padding: 0 40px;
      justify-content: center;
      align-items: center;
      .booth-no {
        padding: 0 10px;
      }
      .area {
        @include textOverflow(auto);
        padding: 0 10px;
        color: map-get($map: $colors, $key: grey);
      }
      .industry {
        border: 1px solid map-get($map: $colors, $key: primary);
        color: map-get($map: $colors, $key: primary);
        padding: 0 10px;
      }
    }

    .matcher-status {
      margin-top: 10px;
      .send-dir {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      button {
        width: 60px;
        height: 30px;
        background-color: transparent;
        padding: 3px 5px;
        &.agree-btn {
          color: map-get($map: $colors, $key: primary);
          border: 1px solid map-get($map: $colors, $key: primary);
        }
        &.refuse-btn {
          color: map-get($map: $colors, $key: danger);
          border: 1px solid map-get($map: $colors, $key: danger);
        }
        &.cancel-btn {
          margin-left: 15px;
          background-color: map-get($map: $colors, $key: primary);
        }
      }

      .matcher-status-0,
      .matcher-status-2 {
        color: map-get($map: $gridColors, $key: grey);
      }
      .matcher-status-1,
      .matcher-status-4 {
        color: map-get($map: $gridColors, $key: danger);
      }
      .matcher-status-3 {
        color: map-get($map: $gridColors, $key: secondary);
      }
    }

    .invite {
      margin-top: 20px;
      button {
        width: 100px;
        height: 30px;
      }
    }
  }

  .exhibitor-product {
    margin-top: 6px;
    padding: 0 10px;
    background-color: white;
    .header {
      font-size: 1.5rem;
      padding: 10px 0;
      margin: 0 10px;
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid #ececec;
    }

    .content {
      margin: 20px 10px 0 10px;

      .products {
        width: 310px;
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        .product-item {
          display: inline-block;
          width: 80px;
          height: 80px;
          margin-right: 10px;

          .product-name {
            margin-top: 10px;
            @include textOverflow(100%);
          }
        }
      }
    }
  }

  .exhibitor-jianjie {
    position: relative;
    margin-top: 6px;
    padding: 0 10px;
    background-color: white;
    margin-bottom: 20px;
    .header {
      padding: 10px 0;
      margin: 0 10px;
      font-size: 1.5rem;
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid #ececec;
    }

    .content {
      margin: 20px 10px 0 10px;
      line-height: 22px;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      overflow: hidden;
      color: map-get($map: $colors, $key: grey);
    }

    .overlay {
      position: absolute;
      z-index: 100;
      bottom: -20px;
      right: 0;
      left: 0;
      height: 20px;
      background-color: white;
      text-align: center;
      // padding-top: 10px;
    }

    &.collapse {
      margin-bottom: 0;
      .content {
        height: 110px;
      }
      .overlay {
        bottom: 0;
      }
    }
  }

  .exhibitor-visitors {
    margin-top: 6px;
    padding: 0 10px;
    background-color: white;
    .header {
      padding: 10px 0;
      margin: 0 10px;
      font-size: 1.5rem;
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid #ececec;

      .number {
        font-size: 12px;
        font-weight: normal;
      }
    }

    .content {
      margin: 20px 10px 0 10px;
      max-height: 30px;

      .visitors {
        width: 310px;
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        .visitor {
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-right: 4px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
