<div class="exhibitor-abstract-container">
  <div class="exhibitor-logo">
    <div class="logo-wrapper">
      <img [src]="detail.logo || './assets/images/default_exhibitor.png'" alt="logo">
    </div>
  </div>

  <div class="exhibitor-abstract">
    <div class="exhibitor-name">
      {{detail.name}}
    </div>
    <div class="exhibitor-area">
      <span class="area" *ngIf="detail.booth; else noBooth;">{{detail.booth}}</span>
      <ng-template #noBooth>
        <span class="no-item"></span>
      </ng-template>
      <span class="pipe" *ngIf="detail.booth && detail.area"> | </span>
      <span class="area" *ngIf="detail.area; else noArea;">{{detail.area}}</span>
      <ng-template #noArea>
        <span class="no-item"></span>
      </ng-template>
      <span class="industry" *ngIf="detail.industry; else noIndustry;">{{detail.industry}}</span>
      <ng-template #noIndustry>
        <span class="no-item"></span>
      </ng-template>
    </div>

    <div class="matcher-status" *ngIf="detail.senderId; else recommend;">
      <span *ngIf="detail.isSender; else receiver;" class="send-dir">
        <span *ngIf="detail.status !== 2; else sendAuditSuccess;" [ngClass]="['matcher-status-' + detail.status]">
          {{detail.status | exhibitorMatcherStatus}}
        </span>
        <ng-template #sendAuditSuccess>
          <span>{{detail.status | exhibitorMatcherStatus}}</span>
          <button ion-button class="cancel-btn" (click)="ensureCancelMatcher(detail.id)">取消</button>
        </ng-template>
      </span>
      <ng-template #receiver>
        <span *ngIf="detail.status !== 2; else receiveAuditSuccess;" [ngClass]="['matcher-status-' + detail.status]">
          {{detail.status | exhibitorMatcherStatus}}
        </span>
        <ng-template #receiveAuditSuccess>
          <button ion-button class="agree-btn" (click)="ensureAgreeMatcher(detail.id)">接受</button>
          <button ion-button class="refuse-btn" (click)="ensureRefuseMatcher(detail.id)">拒绝</button>
        </ng-template>
      </ng-template>
    </div>
    <ng-template #recommend>
      <div class="invite">
        <button ion-button (click)="ensureInvite()">约 TA</button>
      </div>
    </ng-template>
  </div>

  <div class="exhibitor-product" *ngIf="detail.products.length > 0; else noProduct;">
    <div class="header" tappable (click)="toggleViewProduct()">
      <span>产品</span>
      <i [ngClass]="['iconfont', viewProduct ? 'icon-arrowdown' : 'icon-arrowright']"></i>
    </div>
    <div class="content" *ngIf="viewProduct">
      <ul class="products">
        <li class="product-item" *ngFor="let item of detail.products.slice(0, 10)" (click)="ensureShowProduct(item)">
          <img [src]="item.pictures && item.pictures[0]" alt="">
          <div class="product-name">{{item.name}}</div>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noProduct>
    <div class="no-item no-product">暂未上传产品</div>
  </ng-template>

  <div class="exhibitor-jianjie" *ngIf="detail.description; else noDescription;">
    <div class="header" tappable (click)="toggleViewDescription()">
      <span>简介</span>
      <i [ngClass]="['iconfont', viewDescription ? 'icon-arrowdown' : 'icon-arrowright']"></i>
    </div>
    <div class="content" *ngIf="viewDescription">
      {{detail.description}}
    </div>
  </div>
  <ng-template #noDescription>
    <div class="no-item no-description">暂未上传简介</div>
  </ng-template>

  <div class="exhibitor-visitors" *ngIf="detail.visitors.length > 0; else noVisitors;">
    <div class="header" tappable (click)="toggleViewVisitors()">
      <span>访客</span>
      <span>{{ '(共 ' + detail.visitors.length + ' 人)' }}</span>
      <i [ngClass]="['iconfont', viewVisitors ? 'icon-arrowdown' : 'icon-arrowright']"></i>
    </div>
    <div class="content" *ngIf="viewVisitors">
      <ul class="visitors">
        <li *ngFor="let visitor of detail.visitors" class="visitor">
          <img [src]="visitor.headImgUrl" alt="">
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noVisitors>
    <div class="no-item no-visitor">暂无访客</div>
  </ng-template>
</div>
