.exhibitor-abstract-container {
  background-color: #fff;
  color: map-get($map: $colors, $key: grey);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .exhibitor-logo {
    height: 100px;
    background-color: map-get($map: $colors, $key: primary);
    position: relative;
    .logo-wrapper {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 80px;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .exhibitor-abstract {
    margin-top: 40px;
    text-align: center;
    .exhibitor-name {
      font-size: 1.5rem;
      font-weight: bold;
      color: map-get($map: $colors, $key: dark);
    }

    .exhibitor-area {
      margin-top: 10px;
      display: flex;
      padding: 0 20px;
      justify-content: space-evenly;

      .area {
        color: map-get($map: $colors, $key: grey);
      }
      .industry {
        border: 1px solid map-get($map: $colors, $key: primary);
        color: map-get($map: $colors, $key: primary);
        padding: 1px 3px;
      }
    }

    .invite {
      margin-top: 20px;
      button {
        width: 100px;
        height: 30px;
      }
    }
  }


  .exhibitor-product {
    padding: 0 10px;
    .header {
      font-size: 1.5rem;
      text-align: left;
      font-weight: bold;
    }

    .content {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      max-height: 100px;
      overflow: auto;
      .product-item {
        margin: 0 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 80px;
        max-width: 80px;
        height: 100px;
        .product-name {
          margin-top: 10px;
        }
      }
    }
  }

  .exhibitor-jianjie {
    padding: 0 10px;
    .header {
      font-size: 1.5rem;
      text-align: left;
      font-weight: bold;
    }

    .content {
      margin-top: 20px;
      line-height: 22px;
      display: flex;
      flex-wrap: wrap;
      max-height: 100px;
      overflow: auto;
      color: map-get($map: $colors, $key: grey);
    }
  }
}
