<div class="exhibitor-abstract-container">
  <div class="exhibitor-logo">
    <div class="logo-wrapper">
      <img [src]="detail.logo" alt="">
    </div>
  </div>

  <div class="exhibitor-abstract">
    <div class="exhibitor-name">
      {{detail.name}}
    </div>
    <div class="exhibitor-area">
      <span class="area">
        <span *ngIf="detail.booth">{{detail.booth}}</span>
        <span *ngIf="detail.area"> | {{detail.area}}</span>
      </span>
      <span class="industry" *ngIf="detail.industry">{{detail.industry}}</span>
    </div>

    <div class="matcher-status" *ngIf="detail.senderId; else recommend;">
      <span *ngIf="detail.isSender; else receiver;" class="send-dir">
        <span *ngIf="detail.status !== 2; else sendAuditSuccess;" [ngClass]="['matcher-status-' + detail.status]">
          {{detail.status | exhibitorMatcherStatus}}
        </span>
        <ng-template #sendAuditSuccess>
          <span>{{detail.status | exhibitorMatcherStatus}}</span>
          <button ion-button class="cancel-btn" (click)="ensureCancelMatcher(detail.id)">取消</button>
        </ng-template>
      </span>
      <ng-template #receiver>
        <span *ngIf="detail.status !== 2; else receiveAuditSuccess;" [ngClass]="['matcher-status-' + detail.status]">
          {{detail.status | exhibitorMatcherStatus}}
        </span>
        <ng-template #receiveAuditSuccess>
          <button ion-button class="agree-btn" (click)="ensureAgreeMatcher(detail.id)">接受</button>
          <button ion-button class="refuse-btn" (click)="ensureRefuseMatcher(detail.id)">拒绝</button>
        </ng-template>
      </ng-template>
    </div>
    <ng-template #recommend>
      <div class="invite">
        <button ion-button (click)="ensureInvite()">约 TA</button>
      </div>
    </ng-template>
  </div>

  <div class="exhibitor-product" *ngIf="detail.products.length > 0">
    <div class="header" (click)="toggleViewProduct()">
      <span>产品</span>
      <i [ngClass]="['iconfont', viewProduct ? 'icon-arrowdown' : 'icon-arrowright']"></i>
    </div>
    <div class="content" *ngIf="viewProduct">
      <div class="products">
        <div class="product-item" *ngFor="let item of detail.products" (click)="ensureShowProduct(item)">
          <img [src]="item.pictures && item.pictures[0]" alt="">
          <div class="product-name">{{item.name}}</div>
        </div>
      </div>
      <!-- <ng-template #noProduct>
        <div class="no-product">还没有产品</div>
      </ng-template> -->
    </div>
  </div>

  <div class="exhibitor-jianjie" *ngIf="detail.description">
    <div class="header" (click)="toggleViewDescription()">
      <span>简介</span>
      <i [ngClass]="['iconfont', viewDescription ? 'icon-arrowdown' : 'icon-arrowright']"></i>
    </div>
    <div class="content" *ngIf="viewDescription">
      {{detail.description}}
    </div>
  </div>
</div>
