page-interactive {
  ion-content {
    background: url(../assets/images/bg-huizhanren-pure.png) no-repeat;
    // background-color: #282c34 !important;

    background-size: cover;
    display: flex;

    @media screen and (max-width: 500px) {
      .hz-interactive-container {
        padding: 0;
      }
    }

    @media screen and (min-width: 500px) {
      .hz-interactive-container {
        padding: 0 85px;
      }
    }

    .hz-interactive-container {
      width: 100%;
      height: calc(100vh - 140px);
      margin: 0 auto;
      // background-color: rgba(33, 33, 33, 0.95);
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 27px;
      }

      .hz-module-box {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .qrcode-container {
          position: absolute;
          top: 200px;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          display: none;

          &.active {
            display: block;
          }
        }
      }
    }
  }
}
