<div class="grid-header-container">
  <div class="grid-header" tappable (click)="activeHeader(0)" [class.active]="activeIndex === 0">
    <div class="text">{{type === 'visitor' ? '推荐买家' : '本届展商'}}
    </div>
    <div class="decoration">
      <div [hidden]="activeIndex !== 0" class="decoration"></div>
    </div>
  </div>

  <div class="grid-header" tappable (click)="activeHeader(1)" [class.active]="activeIndex === 1">
    <div class="text">待处理
    </div>
    <div class="decoration">
      <div [hidden]="activeIndex !== 1" class="decoration"></div>
    </div>
  </div>

  <div class="grid-header" tappable (click)="activeHeader(2)" [class.active]="activeIndex === 2">
    <div class="text">已完成
    </div>
    <div class="decoration">
      <div [hidden]="activeIndex !== 2" class="decoration"></div>
    </div>
  </div>
</div>
