<!-- <ion-header>
  <ion-navbar>
    <ion-title>设 置</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div class="recommend-container">
    <div class="list-area" [class.expand]="(pageStatus$ | async) === 0">
      <hz-grid-header type="recommend" [activeIndexSub]="listStatusChangeSub" [headerEventSub]="headerEventSub"></hz-grid-header>

      <hz-grid-filter *ngIf="(listStatus$ | async) === 0" [showSearch]="(pageStatus$ | async) === 0"
        [filterSub]="recommendFilterSub" [filterOptions]="filterOptions">
      </hz-grid-filter>
      <hz-matcher-filter *ngIf="(listStatus$ | async) === 1" [expand]="(pageStatus$ | async) === 0"
        [filterSub]="matcherFilterSub">
      </hz-matcher-filter>

      <recommend-grid *ngIf="(listStatus$ | async) === 0" type="recommend" (showDetail)="updateDetailID($event)" [expand]="(pageStatus$ | async) === 0" [dataItems]="recommends$ | async"></recommend-grid>
      <recommend-grid *ngIf="(listStatus$ | async) === 1" type="matcher" (showDetail)="updateDetailID($event)" [expand]="(pageStatus$ | async) === 0" [dataItems]="matchers$ | async"></recommend-grid>

      <p class="load-more" (click)="loadMore()">加载更多</p>
    </div>

    <div class="detail-area" [class.expand]="(pageStatus$ | async) === 1">
      <recommend-detail *ngIf="showDetailID$ | async" [detail]="currentDetail$ | async" [expand]="(pageStatus$ | async) === 1"
        [logs]="currentLogs$ | async" [portray]="currentPortray$ | async" (invite)="ensureInvite()">
      </recommend-detail>
    </div>

    <div class="hz-toggle-log" *ngIf="(showDetailID$ | async)" (click)="toggleLog()">
        <i *ngIf="(pageStatus$ | async) === 1" class="iconfont icon-right"></i>
        <i *ngIf="(pageStatus$ | async) === 0" class="iconfont icon-left"></i>
      </div>
  </div>
</ion-content>
