<!-- <ion-header>
  <ion-navbar>
    <ion-title>设 置</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div class="recommend-container">
    <div class="list-area" [class.expand]="(pageStatus$ | async) === 0">
      <grid-header [activeIndexSub]="listStatusChangeSub" [headerEventSub]="headerEventSub"></grid-header>

      <hz-recommend-filter *ngIf="(listStatus$ | async) === 0" [filterSub]="recommendFilterSub"></hz-recommend-filter>
      <hz-matcher-filter *ngIf="(listStatus$ | async) === 1" [filterSub]="matcherFilterSub"></hz-matcher-filter>

      <recommend-grid *ngIf="(listStatus$ | async) === 0" type="recommend" [expand]="(pageStatus$ | async) === 0" [dataItems]="recommends$ | async"></recommend-grid>
      <recommend-grid *ngIf="(listStatus$ | async) === 1" type="matcher" [expand]="(pageStatus$ | async) === 0" [dataItems]="matchers$ | async"></recommend-grid>

      <p class="load-more" (click)="loadMore()">加载更多</p>
    </div>

    <div class="detail-area" [class.expand]="(pageStatus$ | async) === 1">
      <recommend-detail [detail]="currentDetail$ | async"
        [logs]="currentLogs$ | async" [portray]="currentPortray$ | async">
      </recommend-detail>
    </div>
  </div>
</ion-content>
