.customer-portray-container {
  width: 100%;
  @include flexboxCenter;

  &.normal {
    color: map-get($map: $colors, $key: grey);
  }
  &.primary {
    color: map-get($map: $colors, $key: white);
  }
}
