<div class="visitor-matcher-item-container">
  <div class="matcher-dest">
    <span [ngClass]="{'is-sender': matcher.isSender, 'is-receiver': matcher.isReceiver, 'send-dir': true}">
      {{matcher.isInitator ? '发' : '收'}}
    </span>
  </div>

  <div class="header">
    <div class="info">
      <span class="name">{{matcher.toShow.name}}</span>
      <span class="title">{{matcher.toShow.title}}</span>
    </div>
    <div class="time">
      {{matcher.startTime + '~' + matcher.endTime}}
    </div>
  </div>

  <div class="company">
    <span>{{matcher.toShow.company}}</span>
  </div>


  <div class="footer">
    <div class="industry">{{matcher.toShow.industry}}</div>
    <div class="btn-group" *ngIf="matcher.status === AUDIT_SUCCEED">
      <div *ngIf="matcher.isReceiver; else senderBlock;">
        <button ion-button class="agree-btn" (click)="ensureAgreeMatcher(matcher.id)">接受</button>
        <button ion-button class="refuse-btn" (click)="ensureRefuseMatcher(matcher.id)">拒绝</button>
      </div>
      <ng-template #senderBlock>
        {{matcher.status | customerMatcherStatus}}
      </ng-template>
    </div>
    <div class="booth-no" *ngIf="matcher.status === AGREE">
      {{matcher.boothNo}}
    </div>
  </div>
</div>
