<div class="matcher-item-container">
  <span [ngClass]="{'is-sender': item.isSender, 'is-receiver': item.isReceiver, 'send-dir': true}">
    {{item.isSender ? '发' : '收'}}
  </span>
  <div class="header">
    <div class="info">
      <span class="name">{{matcher.toShow.name}}</span>
      <span class="title">{{matcher.toShow.title}}</span>
    </div>
    <div class="time">
      {{matcher.startTime + '~' + matcher.endTime}}
    </div>
  </div>

  <div class="company">
    <span>{{macher.toShow.company}}</span>
  </div>


  <div class="footer">
    <div class="industry">{{macher.toShow.industry}}</div>
    <div *ngIf="matcher.status === AUDIT_SUCCEED">
      <button ion-button class="agree-btn" (click)="ensureAgreeMatcher(item.id)">接受</button>
      <button ion-button class="refuse-btn" (click)="ensureRefuseMatcher(item.id)">拒绝</button>
    </div>
    <div *ngIf="matcher.status === AGREE">
      {{matcher.boothNo}}
    </div>
  </div>
</div>
