.hz-logger-list {
  .no-log {
    text-align: center;
  }

  &.normal {
    .no-log {
      color: map-get($map: $colors, $key: grey);
    }
  }

  &.primary {
    .no-log {
      color: map-get($map: $colors, $key: white);
    }
  }
}
