<div class="exhibitor-matcher-item-container" tappable [class.active]="matcher.selected" (click)="ensureShow(matcher.id)">
  <div class="matcher-dest">
    <span [ngClass]="{'is-sender': matcher.isInitator, 'is-receiver': matcher.isReceiver, 'send-dir': true}">
      {{matcher.isInitator ? '发' : '收'}}
    </span>
  </div>

  <div class="logo">
    <img [src]="exhibitor.logo" alt="logo">
  </div>

  <div class="desc">
    <div class="header">{{exhibitor.name}}</div>

    <div class="center">
      <div class="area">
        <span *ngIf="exhibitor.boothNo; else noBoothNo;">{{exhibitor.boothNo}}</span>
        <ng-template #noBoothNo>
          <span class="no-item"></span>
        </ng-template>
        <span class="pipe" *ngIf="exhibitor.boothNo && exhibitor.area"> | </span>
        <span *ngIf="exhibitor.area; else noArea;">{{exhibitor.area}}</span>
        <ng-template #noArea>
          <span class="no-item"></span>
        </ng-template>
      </div>
      <div *ngIf="matcher.status === AGREE" class="time">
        {{matcher.meetingStartTime + '~' + matcher.meetingEndTime}}
      </div>
    </div>

    <div class="footer">
      <div class="industry" *ngIf="exhibitor.industry; else noIndustry;">
        {{exhibitor.industry}}
      </div>
      <ng-template #noIndustry>
        <div class="no-item"></div>
      </ng-template>

      <div class="right-area">
        <div class="btn-group" *ngIf="matcher.status === AUDIT_SUCCEED || matcher.status === UN_AUDIT">
          <div *ngIf="matcher.isReceiver; else senderBlock;">
            <button ion-button class="agree-btn" (click)="ensureAgreeMatcher(matcher.id, $event)">接受</button>
            <button ion-button class="refuse-btn" (click)="ensureRefuseMatcher(matcher.id, $event)">拒绝</button>
          </div>
          <ng-template #senderBlock>
            <span class="status">{{matcher.status | exhibitorMatcherStatus}}</span>
          </ng-template>
        </div>
        <div class="booth-no" *ngIf="matcher.status === AGREE">
          {{matcher.meetingPlace}}
        </div>
      </div>
    </div>
  </div>

  <div class="active-icon" *ngIf="exhibitor.selected">
    <i class="iconfont icon-check"></i>
  </div>
</div>
