page-visitor {
  ion-content {
    background: url(../assets/images/bg-huizhanren-pure.png) no-repeat;
    background-size: cover;
    color: #aaaaaa;

    .visitor-container {
      display: flex;
      position: relative;

      .list-area {
        background-color: #1f2022;
        transition: width 1s;
        flex: 1;

        &.expand {
          flex: 2;
        }
      }

      .detail-area {
        margin-left: 10px;
        flex: 1;
        &.expand {
          flex: 2;
        }
      }
    }
  }
}
