<!-- <ion-header>
  <ion-navbar>
    <ion-title>设 置</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div class="visitor-container">
    <div class="list-area" [class.expand]="(pageStatus$ | async) === LIST_PAGE">
      <hz-grid-header type="visitor" [leftTotal]="currentVisitorsTotal$ | async" [rightTotal]="currentMatchersTotal$ | async" [activeIndexSub]="listStatusChangeSub"
        [headerEventSub]="headerEventSub"></hz-grid-header>

      <hz-grid-filter *ngIf="(listStatus$ | async) == VISITOR_GRID" [showSearch]="(pageStatus$ | async) === LIST_PAGE" [filterSub]="visitorFilterSub"
        [filterOptions]="filterOptions$ | async" placeholder="请输入客户名">
      </hz-grid-filter>
      <hz-matcher-filter *ngIf="(listStatus$ | async) == TODO_MATCHER_GRID" [listStatus]="listStatus$ | async" [filterSub]="matcherFilterSub">
      </hz-matcher-filter>
      <hz-matcher-filter *ngIf="(listStatus$ | async) == COMPLETE_MATCHER_GRID" [listStatus]="listStatus$ | async" [expand]="(pageStatus$ | async) === DETAIL_PAGE"
        [filterSub]="matcherFilterSub">
      </hz-matcher-filter>


      <visitor-grid *ngIf="(listStatus$ | async) === VISITOR_GRID" type="visitor" (invite)="toInvite($event)" (showDetail)="updateVisitorDetailID($event)"
        (loadMore)="loadMore()" [shouldScrollToTop]="visitorShouldScrollToTop$ | async" [showLoadMore]="showLoadMore$ | async"
        [dataItems]="visitors$ | async">
      </visitor-grid>
      <visitor-matcher-grid *ngIf="(listStatus$ | async) === TODO_MATCHER_GRID" type="matcher" (agreeMatcher)="ensureAgreeMatcher($event)"
        (refuseMatcher)="ensureRefuseMatcher($event)" (loadMore)="loadMore()" [shouldScrollToTop]="matcherShouldScrollToTop$ | async"
        [showLoadMore]="showLoadMore$ | async" [dataItems]="matchers$ | async">
      </visitor-matcher-grid>

      <visitor-matcher-grid *ngIf="(listStatus$ | async) === COMPLETE_MATCHER_GRID" type="matcher" (showDetail)="updateMatcherDetailID($event)"
        (loadMore)="loadMore()" [shouldScrollToTop]="matcherShouldScrollToTop$ | async" [showLoadMore]="showLoadMore$ | async"
        [expand]="(pageStatus$ | async) === DETAIL_PAGE" [dataItems]="matchers$ | async">
      </visitor-matcher-grid>
    </div>

    <div class="detail-area" [class.expand]="(pageStatus$ | async) === DETAIL_PAGE">
      <visitor-detail *ngIf="(currentDetail$ | async)" [detail]="currentDetail$ | async" [expand]="(pageStatus$ | async) === DETAIL_PAGE"
        [logs]="currentLogs$ | async" [portray]="currentPortray$ | async" (invite)="ensureInvite()" (cancelMatcher)="ensureCancelMatcher($event)"
        (agreeMatcher)="ensureAgreeMatcher($event)" (refuseMatcher)="ensureRefuseMatcher($event)" (createLog)="ensureCreateLog()"
        (editLog)="ensureEditLog($event)">
      </visitor-detail>
    </div>

    <hz-toggle-detail [hidden]="!(showDetailID$ | async)" [collapse]="(pageStatus$ | async) === DETAIL_PAGE" (toggle)="toggleLog()"></hz-toggle-detail>
  </div>
</ion-content>
